[user]
	name = David Johnson
	email = djohnson.m@gmail.com
[github]
	user = dmjio
[bitbucket]
    user = dmjohnson
[core]
	excludesfile = /Users/dmj/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	undo-commit = reset --soft HEAD^
